# Site settings
course_name: PSYC 681 Natural Language Processing and Large Language Models (S26)
course_description: This course provides theoretical foundation as well as hands-on (lab-style) practice in computational approaches for processing natural language text, for problems that involve natural language meaning and structure. The course has relevance to cognitive science, artificial intelligence, and science and technology fields. Large language models and machine learning, including standard and deep neural network methods, is a central component of this course. Students will develop natural language processing solutions individually or in teams using Python, and explore additional relevant tools and LLMs or related foundation models.

baseurl: "/Spring26_PSYC681" # the subpath of your site, e.g. /blog/
url: "http://hksung.github.io/" # the base hostname & protocol for your site

schoolname: "RIT"
#schoolurl: "https://www.rit.edu/liberalarts/"

address: |
    Hakyung Sung (hksgla@rit.edu)
    Department of Psychology, College of Liberal Arts

# Set your Google Analytics tracking ID (set up yours at http://www.google.com/analytics/)
# google_analytics: UA-XXXXXXXX-X

### Do not change the followings unless you know what you are doing ###

# Build settings
markdown: kramdown

# Other options
permalink: blog/:year/:month/:title
excerpt_separator: "<!--more-->"

include: ['_images', '_css']
exclude: ['develop']

dateformat: "%m/%d/%Y"

future: true
collections:
    events:
        output: true
    lectures:
        output: true
    assignments:
        output: true
    announcements:
        output: false


defaults:
  - scope:
      path: ""
      type: "assignments"
    values:
      layout: "assignment"
