---
layout: page
---

{{ content }}
<ul id="archive">
{% for asg in site.assignments %}
  <li class="archiveposturl" style="background: transparent">
    <span style="font-size:120%; font-family: 'Titillium Web', sans-serif;">
      <a href="{{ asg.url | prepend: site.baseurl }}">{{ asg.title }}</a>
    </span>
    <strong style="font-size:110%; font-family: 'Titillium Web', sans-serif; float:right">
      {% if asg.due_event %}
        Due: {{ asg.due_event.date | date: "%Y-%m-%d %H:%M" }}
      {% endif %}
    </strong>
  </li>
{% endfor %}
</ul>
